<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head section contains meta information about the document -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Monitor</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <h1>Temperature</h1>
    <div id="temperature">Loading temperature...</div>
    <div id="humidity">Loading humidity...</div>
    <div id="pressure">Loading pressure...</div>
    <div id="temp-warning"></div>
  </body>
</html>